*{
    background-color: #111111;
    color: white;
}
.container-articles{
    margin-top: 30px;
    display: flex;
    flex-direction: row; /* para deixar as divs uma ao lado da outra*/
    justify-content: center;
}

.novidades > h1{
    margin-bottom: 10px;
}

