<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles_main">
    <app-big-card
      photoCover="https://conteudo.imguol.com.br/c/copadomundo/2018/Imagem/47/2018/07/07/taca-da-copa-do-mundo-fifa-1530973903601_v2_4x3.jpg"
      cardTittle="Novo jogo da copa"
      cardDescription="Muitos jogos da copa">
    </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card photoCover="https://static.poder360.com.br/2022/11/taca-copa-do-mundo.png"
    cardTittle="Olha a copaaaa!!"></app-small-card>
    <app-small-card photoCover="https://static.poder360.com.br/2022/11/taca-copa-do-mundo.png"
    cardTittle="Olha a copaaaa!!"></app-small-card>
    <app-small-card photoCover="https://static.poder360.com.br/2022/11/taca-copa-do-mundo.png"
    cardTittle="Olha a copaaaa!!"></app-small-card>

  </div>
</div>