<div class="container-big-card">
    <div class="big-card-photo">
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
            height="200px">
    </div>
    <div class="big-card-tittle">
       <h1><a href="">  Qualquer coisa</a></h1>
    </div>
    <div class="big-card-description">
        <a href="">
            <p>é sobre isso dia saco
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quam molestias error dignissimos libero
            perferendis hic sed ullam, earum nemo, quos quis architecto. Veritatis culpa facilis repudiandae sint ipsa
            quibusdam.
             </p>
         </a>
    </div>
</div>